/*esto es un comentario en css
es como JAVA
No existen comentarios de linea
*/


body{
    margin-right: 3rem;
    margin-left: 3rem;   
}

img{
    width: 100%;
    height: auto;
    
}

.logo{
width: auto;
height: auto;
margin-top: 2rem;
}

h2{
    
    color: brown;
    
}

p{
    color: darkblue;
    
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 10% 2rem 10%;
    color: red;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.animate__zoomIn {
    
   
    animation: zoom; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 3s; /* don't forget to set a duration! */
  }

a {
    text-decoration: none;
}
