/*esto es un comentario en css
es como JAVA
No existen comentarios de linea
*/

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
    box-sizing: border-box;
}

/*Utilidades*/
.ho:hover {
    color: rgb(233, 13, 57);
}
img{
    width: 100%;
    height: auto;
}

h1 {
    color: white;
}

/*Fin utilidades*/


body{
    width: 95%;  
    margin: auto;
}

header {
    background-color: rgba(207, 155, 136, 0.568);
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    flex-flow: row wrap;
}

.header-logo {
    width: 50%;
    display: inherit;
}


.header-logo img{
    width: 5rem;
    height: 5rem;   
    
}

.header-opciones ul {
    width: 50%;
    
}

h2{
    color: brown; 
}

p{
    color: darkblue;
}

nav {    
    
    background-color: rgb(236, 146, 146);
    
}

nav ul{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

nav li {
    color: black;
    list-style-type: none;
    padding: 10px 0 10px 0;
}

.animate__zoomIn {
    animation: zoom; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 3s; /* don't forget to set a duration! */
}

a{
    color: black;
}

footer {
    width: 100%;
    height: 10vh;
    padding-top: 1rem;
    background-color: rgb(233, 190, 190);
    border-radius: 5%;
    margin: 1rem 0;
}
.footer-content {
    display: flex;
    justify-content: space-around;
    
    
}



