/*esto es un comentario en css
es como JAVA
No existen comentarios de linea
*/
body{
    margin: 0 1%;
}

img{
    width: 100%;
    height: auto;
    
}

.logo{
width: auto;
height: auto;
}

h2{
    
    color: brown;
    
}

p{
    color: darkblue;
    
}

div {
    display: flex;
    justify-content: space-around;
    margin: 5rem 10% 5rem 10%;

}
