/*esto es un comentario en css
es como JAVA
No existen comentarios de linea
*/

img{
    width: 100%;
    height: auto;
}
h2{
    
    color: brown;
    
}

p{
    color: darkblue;
    
}

div {
    display: flex;
    justify-content: space-evenly;
    margin: 5rem 20% 5rem 20%;

}
